@charset "utf-8";

/* 폰트 */
@font-face {font-family: 'NotoSans';font-weight: 300;font-style: normal;src: url(./font/NotoSansCJKkr-Light.woff) format('woff');}
@font-face {font-family: 'NotoSans';font-weight: 400;font-style: normal;src: url(./font/NotoSansCJKkr-Regular.woff) format('woff');}
@font-face {font-family: 'NotoSans';font-weight: 500;font-style: normal;src: url(./font/NotoSansCJKkr-Medium.woff) format('woff');}
@font-face {font-family: 'NotoSans';font-weight: 700;font-style: normal;src: url(./font/NotoSansCJKkr-Bold.woff) format('woff');}
@font-face {font-family: 'Gmarket Sans';font-weight: 300;font-style: normal;src: url(./font/GmarketSansLight.woff) format('woff');}
@font-face {font-family: 'Gmarket Sans';font-weight: 500;font-style: normal;src: url(./font/GmarketSansMedium.woff) format('woff');}
@font-face {font-family: 'Gmarket Sans';font-weight: 700;font-style: normal;src: url(./font/GmarketSansBold.woff) format('woff');}

/** 태그 초기화 **/
html, body{width:100%;height:100%;}
body{margin:0;font-family:'NotoSans','맑은고딕',sans-serif;font-weight:400;font-size:16px;line-height:22px;color:#444;}
div, iframe, h1, h2, h3, h4, h5, h6, p, button, abbr, address, blockquote, q, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr{padding:0;margin:0;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption{display:block;padding:0;margin:0;}
h1, h2, h3, h4, h5, h6{font-weight:400;line-height:1;}
ol, ul, li{list-style:none;}
table{table-layout:fixed;width:100%;border-collapse:collapse;border-spacing:0;}
th{font-weight:400;}
form, fieldset, iframe{border:0;}
img{border:0;vertical-align:top;font-size:0;line-height:0;}
button{border:0;}
hr{border:0;}
i, em, address{font-style:normal;}
strong, b{font-weight:500;}
label, button{cursor:pointer;}
blockquote, q{quotes:none;}
caption, legend{overflow:hidden;width:0;height:0;font-size:0;line-height:0;text-indent:-50000px;}
input, textarea, select, button, video{padding:0;font-family:'noto','맑은고딕',sans-serif;font-weight:400;font-size:14px;color:#222;vertical-align:middle;background:none;border:0;outline:none;}
input::-ms-clear, input::-ms-reveal{display:none;}
a{color:#222;text-decoration:none;outline:none;}
a:hover{text-decoration:none;}

.container{position:relative;width:100%;overflow:hidden;}
.contents{position:relative;width:1000px;margin:0 auto;}
.contents.mid{padding-top:30px;display:flex;align-items:revert;justify-content:space-between;}

#header{display:flex;align-items:center;height:80px;background:#fff;}
#header .contents{display:flex;align-items:center;justify-content:space-between;}
#header .logo{}
#header .menuList{}
#header .menuList li{position:relative;display:inline-block;margin-left:50px;}
#header .menuList li:first-child{margin-left:0;}
#header .menuList li a{transition:0.5s;}
#header .menuList li a:hover,
#header .menuList li a:focus{color:#ff9720;}
#header .mo_menu { display: none; }
#header.fixed { width: 100%; position: fixed; top: 0; left: 0; z-index: 10;}
#footer{margin-top:41px;height:114px;background:#efefef;display:flex;align-items:center;justify-content:center;flex-direction:column;}
#footer .contents{display:flex;align-items:center;justify-content:flex-start;}
#footer .fLogo{margin-right:67px;}
#footer .fInfo{line-height:19px;font-size:14px;color:#999;}
#footer .fInfo .addr{}
#footer .fInfo .contact{}
#footer .fInfo .contact span:after{content:'|';padding:0 5px;}
#footer .fInfo .contact span:last-child:after{content:none;}
#footer .fInfo .copyright{}

.paging { width: 100%; height: auto; display: flex; align-items: center; justify-content: center; margin-top: 50px;}
.paging ul { display: flex; margin: 0 20px; }
.paging ul li { width: 30px; height: 30px; text-align: center; line-height: 30px; }
.paging ul li.on a { color: #ff9720; }


/* 반응형 */
@media (max-width:1000px) {
    body{font-size:.9rem;}
    #header .menuList{width:50vw;height:calc(100vh - 80px);position:fixed;top:80px;right:0;z-index:10;background:#eee;border-left:1px solid #ddd;display:none;}
    #header .menuList li{display:block;margin:0;width:100%;height:60px;line-height:60px;border-bottom:1px solid #999;box-sizing: border-box;padding:0 10px;}
    #header .mo_menu{display:block;}
    #footer{height:auto;padding:20px;text-align:left;box-sizing:border-box;}
    #footer .contents{flex-direction:column;align-items:flex-start;}		
    #footer .fLogo{margin:0 0 20px 0;}
}
